.headerMain {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
	background: #1F2937;
}

.headerLogo {
	position: absolute;
	padding-top: 10px;
	padding-left: 80px;
}

.headerLinkOne {
	all: unset;
	padding-top: 1px;
	padding-left: 300px;
}

.h1 {
	padding-top: 40px;
}